<h2>interpolation</h2>
<h4>
  Name= <span>{{ name }}</span>
</h4>

<div>
  <h2>property biuinding</h2>
  <img [src]="imageUrl" alt="Placeholder Image" />

  <button [disabled]="isDisabled">{{ buttonText }}</button>

  <input type="text" [value]="buttonText" />
</div>

<div>
  <h2>template reference variable</h2>
  <div>
    <input type="text" #inputText placeholder="Enter text here" />
    <button (click)="getTexts(inputText.value)">submit</button>
  </div>
  <h4>
    text= <span>{{ getNumber }}</span>
  </h4>
</div>

<div>
    <h2>style and property binding</h2>
    <div style="width:50px; height:50px; background-color: black;" [style.border-radius]="true ? '5px' : '10px' "></div>
    <!-- <p [style.color]="isActive ? 'green' : 'red'">This text changes color!</p> -->
    <div [class.divStyle]="true"></div>
</div>


<div>
    <h2>Two way binding</h2>
    <input type="text" [(ngModel)]="userName" placeholder="Enter your name">
    <p>Your name is: {{ userName }}</p>
  </div>
